.container {
  background-color: white;
  box-shadow: 4px 4px 0 0 black;
  border-radius: 5px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 480px;
  padding: 24px;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  position: relative;
}

.header::before, .header::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 16px);
  background-color: black;
  width: 24px;
  height: 3px;
}

.header::before {
  left: calc(0% - 25px);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header::after {
  left: calc(100% + 1px);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
}

.date_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date_icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
}

.date {
  font-size: 20px;
  font-weight: 400;
  color: #979797;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 24px;
}

.description {
  font-size: 20px;
}

.key_words {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.key_words span {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 5px;
  background-color: #8F7F63;
  color: white;
}

.content a {
  text-decoration: underline;
  color: #5E76F2;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.15s ease-in;
}

.content a:hover,
.content a:active,
.content a:focus {
  color: #5EF2E0;
}

@media (max-width: 480px) {
  .container {
    padding: 16px;
    gap: 24px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .header::before, .header::after {
    width: 16px;
    top: calc(100% + 12px);
  }

  .header::before {
    left: calc(0% - 17px);
  }

  .heading {
    font-size: 20px;
  }

  .date_wrapper {
    gap: 8px;
  }

  .date_icon {
    width: 14px;
    height: 14px;
  }

  .date {
    font-size: 14px;
  }

  .content {
    gap: 16px;
  }

  .description {
    font-size: 18px;
  }

  .content a {
    font-size: 16px;
  }
}