.container {
  width: 296px;
  background-color: white;
  box-shadow: 4px 4px 0 0 black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 32px;
  font-weight: 700;
  padding: 16px;
  border: 3px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 16px;
  gap: 24px;
  border: 3px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex: 1;
}

.content p {
  font-size: 20px;
}

.content a {
  text-decoration: underline;
  color: #5E76F2;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.15s ease-in;
}

.content a:hover,
.content a:active,
.content a:focus {
  color: #5EF2E0;
}