.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.span {
  text-transform: capitalize;
}

.input {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.15s ease-in;
}

.input:focus {
  box-shadow: 2px 2px 0 0 black;
}