.main {
  padding: 4rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.form_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}