.button {
  cursor: pointer;
  font-family: 'Montserrat', Roboto, Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 18px 42px;
  background-color: #B1F25E;
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0 black;
  transition: all 0.15s ease-in;
}

.button__large {
  font-size: 40px;
  padding: 21px 46px;
  transform: rotate(-2deg);
}

.button:hover,
.buttpn:active,
.button:focus {
  background-color: #8FF111;
  box-shadow: 0 0;
  transform: translate(4px, 4px);
}

@media (max-width: 1212px) {
  .button__large {
    font-size: 32px;
    padding: 14px 32px;
  }
}

@media (max-width: 976px) {
  .button__large {
    font-size: 28px;
    padding: 12px 28px;
  }
}

@media (max-width: 480px) {
  .button__large {
    font-size: 24px;
    padding: 8px 16px;
  }
}

@media (max-width: 360px) {
  .button__large {
    font-size: 20px;
  }
}