.container {
  padding: 4rem 0;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
}

.header h2 {
  font-size: 40px;
}

.header span {
  margin-left: auto;
}

.content {
  max-width: 692px;
  margin: 0 auto;
}

.content img {
  max-width: 100%;
}

.content blockquote {
  margin-left: 48px;
  position: relative;
  color: #8F7F63;
}

.content blockquote::before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #8F7F63;
  left: -16px;
  top: 0;
}

.content h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.content p {
  font-size: 18px;
  line-height: 1.4;
}

.content ol, .content ul {
  margin-left: 32px;
}

.content li {
  margin: 2px;
}

.content a {
  color: #5E76F2;
  font-size: 18px;
  transition: all 0.15s ease-in;
  position: relative;
}

.content a::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  top: 100%;
  left: 50%;
  background-color: #5E76F2;
  transition: all 0.25s ease-in;
}

.content a:hover,
.content a:active,
.content a:focus {
  color: #5EF2E0;
}

.content a:hover::before,
.content a:active::before,
.content a:focus::before {
  background-color: #5EF2E0;
  width: 100%;
  left: 0;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  
  .header h2 {
    font-size: 28px;
  }

  .header span {
    margin: 0;
  }

  .content {
    padding: 0 6px;
  }
  
  .content blockquote {
    margin-left: 16px;
    position: relative;
    color: #8F7F63;
  }
  
  .content blockquote::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #8F7F63;
    left: -16px;
    top: 0;
  }
  
  .content h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .content h2 {
    font-size: 20px;
  }
  
  .content p {
    font-size: 16px;
  }
  
  .content ol, .content ul {
    margin-left: 32px;
  }
  
  .content li {
    margin: 2px;
  }
  
  .content a {
    font-size: 16px;
  }
}