*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Roboto, Helvetica Neue, sans-serif;
  background-color: #FFDCA8;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

code, pre {
  overflow: auto;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 480px) {
  pre {
    font-size: 14px;
    padding: 0.5rem;
  }
}
