.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.welcome h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 640px;
}

.welcome_image {
  animation-duration: 15s;
  animation-name: welcome_image__scale;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  flex: 1;
  text-align: center;
}

@keyframes welcome_image__scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 24px;
}

.info {
  width: 950px;
}

.info_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info_text p {
  font-size: 24px;
}

.separator {
  display: block;
  width: 950px;
  height: 8px;
  background-color: black;
  margin: 40px 0;
  border-radius: 5px;
}

.bio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

@media (max-width: 1212px) {
  .info {
    width: auto;
  }

  .separator {
    width: auto;
  }
}

@media (min-width: 1540px) {
  .container {
    padding: 0 260px;
  }
}

@media (min-width: 1830px) {
  .container {
    padding: 0 230px;
  }

  .info {
    display: flex;
    width: 100%;
    gap: 32px;
  }

  .info_text {
    flex-basis: 48%;
  }

  .separator {
    width: 8px;
    height: auto;
    margin: 0;
  }

  .bio {
    gap: 0px;
    flex: 1;
    justify-content: space-around;
  }
}
