.container {
  padding: 0 10%;
  background: url('/backgroundPath.svg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #FFDCA8;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.welcome_text {
  flex-basis: 50%;
}

.cta {
  display: flex;
  align-items: center;
}

.info {
  margin-top: 40px;
  width: 950px;
}

.info_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info_text p {
  font-size: 24px;
}

.separator {
  display: block;
  width: 950px;
  height: 8px;
  background-color: black;
  margin: 40px 0;
  border-radius: 5px;
}

.bio {

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 1540px) {
  .container {
    padding: 0 230px;
  }
}
