.main {
  padding: 4rem 0;
  flex: 1 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  min-height: calc(100vh - 108px);
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links a {
  font-family: 'Bebas Neue', cursive;
  color: #5E76F2;
  font-size: 36px;
  transition: all 0.15s ease-in;
}

.links a:hover {
  color: #5EF2E0;
}

.waves div{
  position: absolute;
}

.wave1 {
  left: 6%;
  top: 15%;
}

.wave2 {
  right: 4%;
  top: 17%;
}

.wave3 {
  left: 7%;
  bottom: 10%;
  transform: rotate(25deg);
}

.wave4 {
  right: 5%;
  bottom: 2%;
}

@media (max-width: 1400px) {
  .wave4 {
    width: 230px;
  }
}

@media (max-width: 1100px) {
  .wave1 {
    width: 350px;
  }

  .wave2 {
    width: 200px;
  }

  .wave3 {
    width: 350px;
  }

  .wave4 {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .links li {
    flex-basis: 40%;
  }

  .wave1 {
    left: 5%;
    top: 10%;
    width: 200px;
  }

  .wave2 {
    width: 120px;
    right: 5%;
    top: 35%;
  }

  .wave3 {
    width: 300px;
    left: 2%;
    bottom: 8%;
  }

  .wave4 {
    width: 170px;
  }
}

@media (max-width: 600px) {
  .wave3 {
    width: 200px;
    transform: rotate(12deg);
    left: 20%;
    bottom: 3%;
  }

  .wave4 {
    display: none;
  }
}

@media (max-width: 400px) {
  .wave2 {
    display: none;
  }
}